{% extends "citation_networks/base.html" %}

{% block content %}
<div class="container">
<h3>Authors in database</h3>
    <div class="row">
        {% if not object_list %}There is nothing to see here
        {% else %}
             {% for object in object_list %}
            <div class="col-lg-4">
                <div class="card">
                <div class="card-body">
                    <div class="card-title"><a href="{%  url 'author-detail' object.id %}">{{ object }}</a></div>

                </div>
                </div>
            </div>
             {% if forloop.counter|divisibleby:3 %}
                 </div><div class="row">
             {% endif %}
            {% endfor %}

            {% endif %}
            </div>
    {% if paginator %}{% include 'citation_networks/pagination.html' %}{% endif %}
</div>
{% endblock %}