<nav class="navbar navbar-expand-lg navbar-light bg-white">
  <a class="navbar-brand" href="/">Citation Networks</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/papers/">Papers</a>
        <a class="nav-item nav-link" href="/import-citations/">Import Paper</a>
        <a class="nav-item nav-link" href="/network/">Citation network</a>
        <a class="nav-item nav-link" href="/admin/">Admin</a>
    </div>
  </div>
</nav>