{% extends "citation_networks/base.html" %}
{% load static %}

{% block script_header %}
    <script type="text/javascript" defer src="{% static "citation_networks/vis-network.min.js" %}"></script>
    <style>
    #citation_network {
        width: 100%;
        height: 500px;
    }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <h3>Current Citation Network</h3>
    <div class="row">
        <div class="col-md-3">
            <p><button id="fit-to-screen">Auto zoom</button></p>
            <p><button id="freeze" class="toggle">Freeze visualization</button></p>
            <p><button id="restart" class="toggle" style="display: none">Restart visualization</button></p>
        </div>
        <div class="col-md-9">
            <div id="citation_network"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_script %}
    <script>
    $(document).ready(function() {
        // create a network
        var container = document.getElementById('citation_network');
        var json = $.getJSON("/network-json/").done(function(data) {
                var theData = {
                    nodes: data.nodes,
                    edges: data.links
                };
                var options = {
                layout:{
                    improvedLayout: false
                    },
                nodes:{
                    shape: 'circle',
                    font: {
                        color: '#D34E24',
                        size: 20,
                        background: 'white'
                    },
                },
                interaction: {
                    navigationButtons: false,
                    keyboard: true,
                    zoomView: true,
                    dragView: true
                },
                physics: {
                    enabled: true,
                    barnesHut: {
                        gravitationalConstant: -5000
                    },
                    minVelocity: 10,
                    timestep: 0.4,
                    stabilization: {
                        enabled: false,
                }
                },
                edges: {
                    arrows: 'to',
                    color: 'grey'

                }
            };

        // initialize your network!
        var network = new vis.Network(container, theData, options);
        $("#fit-to-screen").click(function(){
            network.fit();
        });
        $("#freeze").click(function(){
            network.setOptions({physics: {enabled: false}});
            $('#freeze').toggle();
            $("#restart").show();
        });
        $("#restart").click(function(){
            network.setOptions({physics: {enabled: true}});
            $("#restart").toggle();
            $("#freeze").show();
        });
        //network.on('stabilized', function(){
        //    network.fit();
        //    });

        network.on('click', function( params ) {
            window.location.href = ("/papers/" + params.nodes[0]);
        });

            });



    } );




    </script>

{% endblock %}