{% extends "citation_networks/base.html" %}
{% load static %}

{% block script_header %}
    <script type="text/javascript" defer src="{% static "citation_networks/vis-network.min.js" %}"></script>
    <style>
    #citation_network {
        width: 100%;
        height: 600px;
        border: 2px solid lightgray;
    }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <h3>Current Citation Network</h3>
    <div class="row">
        <div class="col-lg-12">
            <div id="citation_network"></div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_script %}
    <script>
    $(document).ready(function() {
        // create a network
        var container = document.getElementById('citation_network');
        var json = $.getJSON("/network-json/").done(function(data) {
                var theData = {
                    nodes: data.nodes,
                    edges: data.links
                };
                var options = {
                layout:{
                    improvedLayout: false
                    },
                nodes:{
                    shape: 'triangle'
                },
                interaction: {
                    navigationButtons: true,
                    keyboard: true,
                    zoomView: false,
                    dragView: false
                },
                physics: {
                    enabled: true,
                    barnesHut: {
                        gravitationalConstant: -5000
                    },
                    minVelocity: 45,
                    timestep: 0.4,
                    stabilization: {
                        enabled: false,
                }
                },
                edges: {
                    color: 'grey',
                    arrows: {
                        to: {enabled: true, scaleFactor: 0.75, type: 'arrow'},
                        middle: {enabled: false, scaleFactor: 1, type: 'arrow'},
                        from: {enabled: true, scaleFactor: 0.3, type: 'arrow'}
                    }
                }
            };

        // initialize your network!
        var network = new vis.Network(container, theData, options);
        //network.on("stabilizationIterationsDone", function () {
        //    network.setOptions( {physics: {enabled: false}} )
        //    console.log("physics disabled after stabilization");
        //});
         //setTimeout(function(){
         //     network.setOptions({physics: {enabled: false}})
         //     console.log("physics disabled after 60 second timer")
        //}, 60000);
        //      network.fit();

            });

    } );




    </script>

{% endblock %}