{% extends "citation_networks/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <div class="card-title"><h4>{{ object }}</h4></div>
                <p>{% for authorship in object.authorship_set.all %} {{ authorship.author.name }}, {% endfor %}{{ object.year }}. {{ object.title }}. <i>{{ object.journal_name }}</i>. {{ object.volume }}:{{ object.pages }}</p>
            </div>
        </div>
        </div>
    </div>
    {% if object.citations_last_queried == None %}
        <div class="row" id="never-queried-row">
        <h4>Never queried</h4>
            <p>This paper was imported as a citation or a reference to another paper. We don't know anything about its citations or references.</a></p>
            <form action="/import-citations/" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Get Citations and References for {{ object }}">
            </form>
    </div>
        </div>


    {% else %}
    <div class="row">
        <div class="col-lg-12">
            <h4>{{ object.cited_by.all | length }} citations, last queried {{ object.citations_last_queried }}</h4>
        </div>
    </div>
    <div class="row">
            {% for citation in object.cited_by.all %}

             <div class="col-lg-4">
                <div class="card">
                <div class="card-body">
                    <div class="card-title"><a href="{%  url 'paper-detail' citation.id %}">{{ citation }}</a></div>
                </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
                </div><div class="row">
            {% endif %}
            {% endfor %}
    </div>
<div class="row">
    <div class="col-lg-12">
        <h4>{{ object }} cites {{ object.references.all | length }} papers</h4>
    </div>
</div>

    <div class="row">
            {% for reference in object.references.all %}
             <div class="col-lg-4">
                <div class="card">
                <div class="card-body">
                    <div class="card-title"><a href="{%  url 'paper-detail' reference.id %}">{{ reference }}</a></div>
                </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 %}
                </div><div class="row">
            {% endif %}
            {% endfor %}
    </div>
</div>
    {% endif %}
</div>

{% endblock %}

{% block custom_script %}
    <script>
    $("#id_ssid").hide();
    $(".helptext").hide();
    $("label").hide();
    </script>
{% endblock %}

