{% extends "citation_networks/base.html" %}

{% block content %}
<div class="container">
<h3>Papers in database whose citations have been queried</h3>
    <div class="row">
        {% if not object_list %}There is nothing to see here
        {% else %}
             {% for object in object_list %}
            <div class="col-lg-4">
                <div class="card">
                <div class="card-body">
                    <div class="card-title"><a href="{%  url 'paper-detail' object.id %}">{{ object }}</a></div>
                    <p>Cited by {{ object.cited_by.all | length }} articles</p>
                    <p>last queried {{ object.citations_last_queried }}</p>
                </div>
                </div>
            </div>
            {% endfor %}

        {% endif %}

    </div>
</div>
{% endblock %}